html {
	font-family: Sans-serif;
	background:#333333;
	color:white;
}
h1 { 
	
	text-align: center;

}
h2 {
	text-align: center;
	font-size: 16px;
	margin:3px;
}
.desc{
	width:941px;
	margin:0 auto;
}
a {
	color:gray;
}
.key-depressed, .key-pressed {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 15px ;
  border-radius: 50%;
  
  @shadow: rgba(0, 0, 0, .1);
  @shadow-length: 4px;
  -webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
          box-shadow: 0 @shadow-length 0 0 @shadow;
  text-shadow: 0 @shadow-length 0 @shadow;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 25px;
  font-weight:bold;
  text-align: center;
}	

.key-depressed{
	background: #000000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #000000 1%, #000000 45%, #161616 57%, #2c2c2c 66%, #4c4c4c 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #000000 1%,#000000 45%,#161616 57%,#2c2c2c 66%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #000000 1%,#000000 45%,#161616 57%,#2c2c2c 66%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.key-pressed{
	background: #afac3d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #afac3d 0%, #11110e 72%, #11110e 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #afac3d 0%,#11110e 72%,#11110e 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #afac3d 0%,#11110e 72%,#11110e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afac3d', endColorstr='#11110e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:yellow;
}
#plugboard, .rotors, .ringstellung, .rotor_order, .keyboard, .console {
	background: #131412; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #131412 1%, #282821 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #131412 1%,#282821 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #131412 1%,#282821 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131412', endColorstr='#282821',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:white;
}
#plugboard, .rotors, .ringstellung, .rotor_order {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131412+1,282821+100 */
	border-radius:3px;
	border-style:solid;
	border-color:black;
	border-width: 5px;
}
.keyboard, .console{
	padding:10px;
	border-radius:3px;
	border-style:solid;
	border-color:black;
	border-width: 5px;
	height:260px;
}
.keyboard{
	width:641px;
}
.console{
	flex: 1;
	margin-left:10px;
	position:relative;
	width:230px;
}

.middle{
	display:flex;
	width:941px;
	margin:0 auto;
}
.out{
	position:absolute;
	bottom:3px;
	left:3px;
}
.log{
	height:66%;
}
nav {
	height:100%;
}
nav ul{
	overflow:hidden; 
	overflow-y:scroll;
	height:100%;
	padding-left:0px;
	list-style-type:none;
}
nav li{
    border-bottom: 1px dotted white;
}


/* Rotors */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.rotors, .ringstellung, .rotor_order{
	padding:5px;
	margin: 10px;
	text-align: center;
}
.rotors table,.ringstellung table, .rotor_order table {
	width:100%;
	
}
#rotors{
	margin-top:10px;
}
.rotor_order th{
	font-weight: lighter;
}
.rotors tr,.ringstellung tr, .rotor_order tr {
	height:12px;
}

.ringstellung{
	flex:1;
}
.rotors{
	flex:1;
}
.top{
	display:flex;
	margin:0 auto;
	width:540px;
}

/*Plugboard*/
#plugboard{
	margin-top:10px;
	height:310px;
	width:941px;
	background-image:url("images/plugboard.jpg");
	background-size:cover;
	margin: 0 auto;
}
.bot_header{
	width:941px;
	height:30px;
	margin: 0 auto;
	padding:3px;
	margin-top:8px;

}
.btn{
	float:left;
	height:100%;
	margin-left:4px;

}
.btn_incdec,#btnClear,.btn {
  background-color: #246827; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn_incdec{
	padding: 1px 10px;
}
input[type="button"]:active,#btnClear:active{background-color: #144416;}
#btnClear{
	padding:1px 4px;
}

/* Popup stuff for info box. */
/* Popup container - can be anything you want */
.icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: lighter;

}

/* The actual popup */
.icon .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -200px;
  padding:px;
}

/* Popup arrow */
.icon .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.icon .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



